body {
  background-image: url("/static/images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

#game-holder {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  box-sizing: border-box;
  flex-direction: column;
}

@font-face {
  font-family: "thin";
  src: url("/static/fonts/thin.woff2/stardew-valley.otf.woff2");
}

@font-face {
  font-family: "bold";
  src: url("/static/fonts/bold.woff2/svbold.otf.woff2");
  color: #56160c;
}

#hotbar-canvas {
  margin-top: 1rem;
}

#canvas-wrapper {
  width: 80vw;
  height: 100vh;
  overflow: auto;
}

#overlay-canvas {
  position: fixed;
  top: 50;
}

.navbar {
  display: flex;
  background-color: aquamarine;
}

.navbar a {
  text-decoration: none;
  padding: 8px;
  background-color: aquamarine;
  align-content: center;
}

.navbar a:hover {
  background-color: rgba(153, 196, 210, 0.5);
}

.navbar-brand {
  font-size: x-large;
  color: black;
}

#main-canvas {
  border-radius: 10px;
}
